$color-titulos: #707070;
$color-texto:  #707070;
$color-texto-on-hover:  black;
$color-primario: #6782A4;
$color-secundario: white;
$color-decision: #E8E8E8;
$color-bordes: #707070; 
$story-progress: 25%;
$color-barra-progreso: #78B1DC;
$hover-font-color: black; 

$text-font: "Arial";

$banner-img: url("https://w0.peakpx.com/wallpaper/875/839/HD-wallpaper-frozen-forest-forest-trees-fog-mist-winter-cold-graphy-snow-nature-white-bulgaria.jpg");