

@import "header";
@import "variables";
 body{
     margin: 0;
     padding: 0;
     background-color: $color-primario;
 }
h1{
    color: $color-titulos;
    font-size: 40px;
    font-family: 'Playfair Display',sans-serif;
}
p{
    font: $text-font;
    color: $color-texto;
}
#contenedor-titulo-capitulo{
    border-radius: 20px;
    width: 400px;
    height: 50px;
    border: 1px $color-bordes solid;
    background-color: $color-secundario;
    margin: 15px 2px;
    p{
        margin-left: 5px;
    }
}
#contenedor_texto{
    background-color: $color-secundario;
    width: 100%;
    padding: 10px;
    height: fit-content;
    p{
        text-align: justify;
        margin-right: 30px;
        &:hover{
            font-size: 18px;    
            color: $hover-font-color;
        }
    }
}
#contenedor-decision-y-cap-anterior{
    display: flex;
    width: 1189px;
    height: 100px;
    padding: 0;
    margin: 0;
    border-bottom: 3px $color-secundario solid;
    .contenedor-side{
        left: 0;
        bottom: 0;
        width: 120px;
    }
    #contenedor-cap-anterior{
        border-right: 1px $color-secundario solid;
        display: flex;
        justify-content: center;
        p{
            color: $color-secundario;
        }
        &:hover{
            cursor: pointer;
            p{
                font-weight: bold;
                font-size: 30px;
            }
        }
    }
    #contenedor-que-haras{
        width: 971px;
        display: flex;
        justify-content: center;
        h2{
            color: $color-secundario;
            font-size: 40px;
            font-family: 'Playfair Display',sans-serif;
            margin: 20px;
        }
    }
}
#contenedor-decisiones{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1189px;
    height: 150px;

}
.row {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
 }
 .decision{
    border-radius: 50px;
    border: 1px $color-bordes solid;
    height: 70px;
    width: 350px;
    text-align: center;
    background-color: $color-decision;
    overflow: hidden;
    cursor: pointer;
    p{
        font-size: large;
    }
    &:hover{
        background-color: white;
        p{
            font-size: larger;
            color: $color-texto-on-hover;
        }
    }
}
#proogress-bar{
    width: 1189px;
    height: 20px;
    border-radius: 50px;
    padding: 0;
    background-color: white;
}

#proogress-bar-color{ 
    margin: 0;
    width: $story-progress;
    height: 20px;
    border-radius: 50px;
    background-color: $color-barra-progreso;
    text-align: right;
    p{
        color: white;
        margin-right: 10px;
    }
}